.post:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}

.highlight:hover {
  background-color: #fff;
}

.heart:hover {
  color: #E0245E;
}

.heart-fill {
  color: #E0245E;
}

.heart-fill:hover {
  color: #c22658;
}

.answer:hover {
  color: rgb(3, 189, 189);
}

.heart:active {
  transform: scale(1.25);
  border: white !important;
}

.answer:active {
  transform: scale(1.25);
  border: white !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

a:hover {
  filter: brightness(1);
  text-decoration: underline !important;
}

.send:hover {
  transform: scale(1.1) !important;
  transition: all .3s;
}

.send:active {
  transform: scale(1.25) !important;
  border: white !important;
}